/* yellow: #ffbe00
// beige: #eff0e0
// blue: #01698c
// red: #ff4d4d
// black: #444 */

 *, html, body, p, li, div, span {
	font-family: 'Open Sans', helvetica, arial, sans-serif;
}
b, strong {
	font-family: 'Open Sans Bold';
}
i, em {
	font-family: 'Open Sans Italic';
}
b i, i b, strong em, em strong, b em, em b, strong i, i strong {
	font-family: 'Open Sans Bold Italic';
}
.maticon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.3em;  /* Preferred icon size */
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
a {
	text-decoration: none;
}
.hamburger {
	font-size: 14pt;
	margin: 20px;
}
.left-anchor, .right-anchor {
	position: absolute;
	font-size: 20px;
	width: 80px;
}
.left-anchor {
	top: 0;
	left: 0;
}
.right-anchor {
	top: 0;
	right: 0;
}
.screen-title {
	font-family: 'Open Sans Bold';
	position: absolute;
	left: 70px;
	right: 80px;
}
.home-title {
	text-align: left;
	left: 10px;
	top: 8px;
}
.app-title-image {
	height: 30px;
}
.app-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: crimson;
	margin-top: 0;
	line-height: 1em;
	text-align: center;
}
.app-header.headertype-middle {
	position: relative;
	z-index: 5;
	height: 117px;
	overflow: hidden;
	background-color: crimson;
}
.app-header.headertype-middle .left-anchor {
	position: absolute;
	bottom: 7px;
	padding-left: 10px;
}
.event-date-in-header {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
}
.app-header.headertype-middle .left-anchor a {
	color: #fff;
}
.app-header h1 {
	margin: 0;
	font-size: 16pt;
}
.app-header.headertype-middle h1 {
	color: #fff;
	position: absolute;
	left: 8.33%;
	bottom: 5px;
	font-size: 20px;
	text-align: left;
	line-height: 1em;``
}
.left-anchor, .right-anchor, .screen-title {
	line-height: 2em;
}
.list-view {
	list-style-type: none;
	margin: 0;
	padding: 48px 0 0 0;
	/*border-top: 1px solid #888;*/
}
.list-item {
	margin-left: 9px;
	margin-right: 9px;
	min-height: 4em;
	margin-bottom: 6px;
	/*box-shadow: 0 1px 5px 1px #ddd;*/
	overflow: hidden;
	position: relative;
}
.list-item-title {
	font-family: "Open Sans Bold Italic";
	position: absolute;
	bottom: 40px;
	left: 10px;
	right: 10px;
	line-height: 1.1em;
	margin-bottom: 5px;
	color: #fff;
	text-align: center;
	opacity: .85;
}
.list-item-description {
	font-size: 13px;
	margin-left: 10px;
}
	.list-item-description-text {
		color: #fff;
		text-transform: uppercase;
		font-size: 9pt;
		position: absolute;
		bottom: 25px;
		left: 10px;
		right: 10px;
		opacity: .85;
		text-align: center;
		max-height: 3em;
		overflow: hidden;
	}
	.list-item-description-time {
		font-family: 'Open Sans Bold';
	}
	.list-item-hero .list-item-title {
		font-size: 17px;
	}
.list-item-normal img {
	width: 100%;
	margin-right: 15px;
}
.active-menu-link span {
	font-family: 'Open Sans Bold';
}
.hidden {
	display: none;
}
.menu-links {
	text-align: left;
	list-style-type: none;
	/*margin: 5px;*/
	padding: 20px 0 0 0;
	position: fixed;
	right: 0;
	width: 70%;
	top: 48px;
	bottom: 0;
	background: white;
	background-color: #ffbe00;
	z-index: 5;
}
.pep-logo-link img {
	height: 80px;
	margin-left: 25px;
	margin-bottom: 20px;
}
.menu-link {
	background: #eff0e0;
	margin-bottom: 5px;
}
.menu-link i {
	margin-right: 10px;
}
.menu-link a {
	color: #444;
	font-size: 17px;
	padding: 10px 0 10px 25px;
}
.event-content {
	font-size: 12px;
	line-height: 2em;
	padding-top: 1.4em;
}
.event-content li {
	background: #eff0e0;
	margin: 5px 0;
	padding: 5px 0;
	text-align: center;
	font-size: 15pt;
}
.event-sidebar {
	padding-top: 1.4em;
	font-size: 12px;
}
.event-image {
	width: 100%;
	opacity: .9;
}
.event-icon {
	font-size: 20pt;
	padding: 3px;
}
.maticon, .event-icon {
	cursor: pointer;
}
a, a:hover, a:focus, a:active, .event-icon, .event-icon:hover, .event-icon:focus, .event-icon:active {
	color: grey;
	text-decoration: none;
}
.event-icon-in-list {
	position: absolute;
	font-size: 20pt;
	right: 20px;
	bottom: 5px;
}
.faved, .faved:hover, .faved:focus {
	color: red;
}
.map-iframe {
	margin-top: 48px;
	width: 100%;
	margin-bottom: -10px;
}
.shareable-description {
	background: #ff4d4d;
	padding: 11px 14px 6px;
}
.loading {
	position: fixed;
	z-index: -60;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	   -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	     -o-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}