// yellow: #ffbe00
// beige: #eff0e0
// blue: #01698c
// red: #ff4d4d
// black: #444

@import url("../fonts/opensans_bold_macroman/stylesheet.css");
@import url("../fonts/opensans_bolditalic_macroman/stylesheet.css");
@import url("../fonts/opensans_extrabold_macroman/stylesheet.css");
@import url("../fonts/opensans_extrabolditalic_macroman/stylesheet.css");
@import url("../fonts/opensans_italic_macroman/stylesheet.css");
@import url("../fonts/opensans_light_macroman/stylesheet.css");
@import url("../fonts/opensans_lightitalic_macroman/stylesheet.css");
@import url("../fonts/opensans_regular_macroman/stylesheet.css");
@import url("../fonts/opensans_semibold_macroman/stylesheet.css");
@import url("../fonts/opensans_semibolditalic_macroman/stylesheet.css");


 *, html, body, p, li, div, span {
	font-family: 'open_sansregular', helvetica, arial, sans-serif;
}
.maticon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.3em;  /* Preferred icon size */
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
a {
	text-decoration: none;
}
.hamburger {
	font-size: 14pt;
	margin: 20px;
}
.left-anchor, .right-anchor {
	position: absolute;
	font-size: 20px;
	width: 80px;
}
.left-anchor {
	top: 0;
	left: 0;
}
.right-anchor {
	top: 0;
	right: 0;
}
.screen-title {
	position: absolute;
	left: 80px;
	right: 80px;
}
.app-title-image {
	height: 30px;
}
.app-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: crimson;
	margin-top: 0;
	line-height: 1em;
	text-align: center;
}
.app-header.headertype-middle {
	position: relative;
	z-index: 5;
	height: 117px;
	overflow: hidden;
	background-color: crimson;
}
.app-header.headertype-middle .left-anchor {
	position: absolute;
	bottom: 7px;
	padding-left: 10px;
}
.event-date-in-header {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
}
.app-header.headertype-middle .left-anchor a {
	color: #fff;
}
.app-header h1 {
	margin: 0;
	font-size: 16pt;
}
.app-header.headertype-middle h1 {
	color: #fff;
	position: absolute;
	left: 8.33%;
	bottom: 5px;
	font-size: 20px;
	text-align: left;
	line-height: 1em;``
}
.left-anchor, .right-anchor, .screen-title {
	line-height: 2em;
}
.list-view {
	list-style-type: none;
	margin: 0;
	padding: 48px 0 0 0;
	/*border-top: 1px solid #888;*/
}
.list-item {
	min-height: 4em;
	margin-bottom: 10px;
	box-shadow: 0 1px 5px 1px #ddd;
	overflow: hidden;
	position: relative;
}
.list-item-title {
	font-weight: bold;
	font-style: italic;
	font-family: "Open Sans";
	position: absolute;
	top: 90px;
	left: 10px;
	right: 10px;
	line-height: 1.1em;
	margin-bottom: 5px;
	color: #fff;
	text-align: center;
}
.list-item-description {
	font-size: 13px;
	margin-left: 10px;
}
	.list-item-description-text {
		max-height: 3em;
		overflow: hidden;
	}
	.list-item-description-time {
		font-weight: bold;
	}
	.list-item-hero .list-item-title {
		font-size: 17px;
	}
.list-item-normal img {
	width: auto;
	margin-right: 15px;
	min-width: 100%;
	max-height: 177px;
}
.active-menu-link {
	font-weight: bold;
}
.hidden {
	display: none;
}
.menu-links {
	text-align: left;
	list-style-type: none;
	/*margin: 5px;*/
	padding: 20px 0 0 0;
	position: fixed;
	right: 0;
	width: 70%;
	top: 48px;
	bottom: 0;
	background: white;
	background-color: #ffbe00;
	z-index: 5;
}
.pep-logo-link img {
	height: 80px;
	margin-left: 25px;
	margin-bottom: 20px;
}
.menu-link {
	margin-bottom: 25px;
}
.menu-link i {
	margin-right: 10px;
}
.menu-link a {
	color: #fff;
	font-size: 17px;
	padding: 10px 0 10px 25px;
}
.event-content {
	font-size: 12px;
	line-height: 2em;
	padding-top: 1.4em;
}
.event-content li {
	background: #eff0e0;
	margin: 5px 0;
	padding: 5px 0;
	text-align: center;
	font-size: 15pt;
}
.event-sidebar {
	padding-top: 1.4em;
	font-size: 12px;
}
.event-image {
	min-height: 100%;
	min-width: 100%;
	opacity: .9;
}
.event-icon {
	font-size: 20pt;
	padding: 3px;
}
.maticon, .event-icon {
	cursor: pointer;
}
a, a:hover, a:focus, a:active, .event-icon, .event-icon:hover, .event-icon:focus, .event-icon:active {
	color: grey;
	text-decoration: none;
}
.event-icon-in-list {
	position: absolute;
	font-size: 20pt;
	right: 20px;
	bottom: 5px;
}
.faved, .faved:hover, .faved:focus {
	color: red;
}