.maticon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.3em;  /* Preferred icon size */
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
a {
	text-decoration: none;
}
.hamburger {
	font-size: 14pt;
	margin: 20px;
}
.left-anchor {
	padding-left: 20px;
	font-size: 20px;
}
.app-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	color: crimson;
	margin-top: 0;
	line-height: 1em;
	text-align: center;
}
.app-header.headertype-middle {
	position: relative;
	z-index: 5;
	height: 117px;
	overflow: hidden;
	background-color: crimson;
}
.app-header.headertype-middle .left-anchor {
	position: absolute;
	bottom: 7px;
	padding-left: 10px;
}
.event-date-in-header {
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
}
.app-header.headertype-middle .left-anchor a {
	color: #fff;
}
.app-header h1 {
	margin: 0;
	font-size: 16pt;
}
.app-header.headertype-middle h1 {
	color: #fff;
	position: absolute;
	left: 8.33%;
	bottom: 5px;
	font-size: 20px;
	text-align: left;
}
.list-view {
	list-style-type: none;
	margin: 0;
	padding: 48px 0 0 0;
	/*border-top: 1px solid #888;*/
}
.list-item {
	padding: 0 15px;
	min-height: 4em;
	margin-bottom: 10px;
	box-shadow: 0 1px 5px 1px #ddd;
}
.list-item-title {
	font-weight: bold;
	margin-right: 10px;
	line-height: 1.1em;
	margin-bottom: 5px;
	margin-left: 10px;
}
.list-item-description {
	font-size: 13px;
	margin-left: 10px;
}
	.list-item-description-text {
		max-height: 3em;
		overflow: hidden;
	}
	.list-item-description-time {
		font-weight: bold;
	}
	.list-item-hero .list-item-title {
		font-size: 17px;
	}
.list-item-normal img {
	float: left;
	height: 85px;
	width: auto;
	margin-right: 15px;
}
.list-item-hero img {
	min-width: 100%;
}
.active-menu-link {
	font-weight: bold;
}
.hidden {
	display: none;
}
.menu-links {
	text-align: left;
	list-style-type: none;
	/*margin: 5px;*/
	padding: 20px 0 0 0;
	position: fixed;
	left: 0;
	width: 70%;
	top: 48px;
	bottom: 0;
	background: white;
	background-color: crimson;
	z-index: 5;
}
.pep-logo-link img {
	height: 80px;
	margin-left: 25px;
	margin-bottom: 20px;
}
.menu-link {
	margin-bottom: 25px;
}
.menu-link i {
	margin-right: 10px;
}
.menu-link a {
	color: #fff;
	font-size: 17px;
	padding: 10px 0 10px 25px;
}
.event-content {
	font-size: 12px;
	line-height: 2em;
	padding-top: 1.4em;
}
.event-sidebar {
	padding-top: 1.4em;
	font-size: 12px;
}
.event-image {
	min-height: 100%;
	min-width: 100%;
	opacity: .9;
}
.event-icon, .event-icon:hover, .event-icon:focus {
	font-size: 18px;
	padding: 3px;
	color: grey;
	text-decoration: none;
}
.event-icon-in-list {
	position: absolute;
	right: 20px;
	bottom: 5px;
} 
.faved, .faved:hover, .faved:focus {
	color: red;
}